name: .NET Build and Test

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
        
    - name: Restore dependencies
      run: dotnet restore BankBackend/BankBackend.csproj
      
    - name: Build
      run: dotnet build BankBackend/BankBackend.csproj --no-restore -c Release
      
    - name: Test
      run: dotnet test BankBackend/BankBackend.csproj --no-build --verbosity normal
